doctype html
html
  head
    // Import Google Icon Font
    link(href='css/materialdesignicons.min.css', media='all', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='css/styles.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
  
    header
      h1 Matthew Fortier
      h4 Software Developer, Web Developer, Technology Enthusiast
      
    #slide-out.side-nav.grey.darken-4
      center
        img.circle(src='image/me.jpg', alt="It's supposed to be me", style='margin-top: 25px; border: 4px solid white;')
        h4 Matthew Fortier
        h5 2 Michele Ln, Kennebunk ME, 04043
        h6 matthew.fortier@mymail.champlain.edu
        #github.chip
          img(src='image/icons/github.png', alt='github logo')
          |             Github
        #linkedin.chip
          img(src='image/icons/linkedin.png', alt='linkedin logo')
          |             LinkedIn
      br
      .container
        a.waves-effect.waves-light.btn.grey.darken-3(href='#about') About Me
        a.waves-effect.waves-light.btn.grey.darken-3(href='#portfolio') Portfolio
        a.waves-effect.waves-light.btn.grey.darken-3 Experience
    .fixed-action-btn(style='top: 45px; left: 60px;')
      a.btn-floating.tooltipped.btn-large.blue-grey.darken-4(data-activates='slide-out', data-position='right', data-delay='25', data-tooltip='Click Me!')
        i.large.material-icons menu
        
    .parallax-container
    div
      .container
        .row
          .col.s10.offset-s1
            center
              h2 About Me
            #about.card.scrollspy
              img.materialboxed(src='image/me2.jpg', alt='',style='width: 450px; height: auto; padding: 1%;')
    .parallax-container
    #portfolio.section.scrollspy.white
      .row.container
        center
          h1 Matthew Fortier
          h4 Software Developer, Web Developer, Tech Enthusiast
    .parallax-container
      .parallax
        img(src='image/code1.jpg')
    .section.white
      .row.container
        center
          h1 Matthew Fortier
          h4 Software Developer, Web Developer, Tech Enthusiast
    #landing-info
    .bounce
      img(src='image/down.png', style='height: 35px; width: 35px;')
    // Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='js/materialize.min.js')
    script(type='text/javascript').
      $('.btn-floating').sideNav({
        menuWidth: 500, // Default is 240
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true // Closes side-nav on clicks, useful for Angular/Meteor
      }
      );
      $(document).ready(function(){
        $('.collapsible').collapsible({
        accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
      });
      
      $(document).ready(function(){
        $('.parallax').parallax();
      });
      
      $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 25});
      });
      
      $(document).ready(function(){
        $('.slider').slider({full_width: true});
      });
      
      $(document).ready(function(){
        $('.materialboxed').materialbox();
      });
      
      var options = [
        {selector: '.row', offset: 150, callback: function() {
        Materialize.toast("This is our ScrollFire Demo!", 1500 );
        } },
        {selector: '.row', offset: 205, callback: function() {
        Materialize.toast("Please continue scrolling!", 1500 );
        } }
        ];
      Materialize.scrollFire(options);
      
      document.getElementById("linkedin").onclick = function () {
        location.href = "https://www.linkedin.com/in/matthew-fortier-39534161";
      };
      
      document.getElementById("github").onclick = function () {
        location.href = "https://github.com/matther2012";
      };
      
      $('.chip').hover(function() {
        $(this).css('cursor','pointer');
      });
      
      $(document).ready(function(){
        $('.scrollspy').scrollSpy();
      });
      
    script(src='https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js')
